/* reset to default */* *   
 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
}
.nav {
  background-color: green;
  overflow: hidden;
  display: flex-end;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  text-align: right;
  padding-right: 10px;
  font-weight: bold; 
  font-style: uppercase;
}

.nav a {
  color: white;           
  text-decoration: none;  
  margin-right: 15px;     
}

.nav a:hover {
  text-decoration: underline; 
}
h1 {
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  padding-bottom: 0px;
}
.footer {
  display: flex;
  justify-content: space-between; 
  background-color: #02270a; 
  color: white;
  padding: 20px;
  text-align: center;
}

.footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.footer-left, .footer-right {
  display: flexbox;
  flex: 1;
  min-width: 200px;
  margin: 1.5px 0;
  border-right: white;
  border: right radius 2px;;
  border-width: 2px;
}
.footer-center {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  margin: 10px 0;
  text-align: center;
}
.footer-3last{
  display: flex;
  flex-direction: column; 
}
.footer-newsletter input[type="email"] {
  padding: 8px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  
}
.footer-newsletter button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #c20909;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.footer-newsletter{
  display: flex;
  flex-direction: column;
}   
  .newsletter-subscription {
    display: flex;
    flex-direction: column;
  }
  .images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.images img {
  width: 100%;
  aspect-ratio: 1 / 2;   /* square thumbnails */
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.4s ease;
  display: ;
}

/* Hover zoom */
.images img:hover {
  transition-delay: 0.5s;
  transform: scale(2.1);
    transform-origin: center;
}

.thumb {
  
  width: 80%;
  height: 90%;
  aspect-ratio: 1 / 1;
  border-radius: 5px;   
}

.thumb img {

  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.thumb img:hover {
  transform: scale(2.1);
  transform-origin: center;
  
}


  
